/* .search-card-component {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  background-image: url('https://i.imgur.com/3ZspymB.jpg');
  background-size: contain;
  height: 100vh;
  width: 100%;
  color: white;
}

.album-card {
  margin: 1em;
}

img {
  height: 4em;
}

p {
  font-size: 0.5em;
} */
